body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #0d72b9; /* 外部深藍背景 */
  }
  
  .container {
	background: #ffffff;
	border: 20px solid #cdeeff;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	margin-top: 40px;
	margin-bottom: 40px;
	margin: 80px auto;
	padding: 0;
	position: relative;
  }
  
  
  .site-header {
  	color: white;
  	padding: 20px 25px;
  	z-index: 1000;          /* 確保不被圖片或其他元素蓋住 */
  	width: 100%;            /* 根據內容自動寬度 */
	box-sizing: border-box; /* 避免 padding 影響寬度 */
  }
  
  .site-header h1 {
	margin: 0;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 1px;
	position: fixed;        /* 固定在畫面，不隨滾動或縮放改變 */
	top: 30px;              /* 距離視窗上方 20px */
 	left: 500px;             /* 距離視窗左側 30px */
	width: 100%;
	z-index: 1000;          /* 確保在圖片上層 */
  	box-sizing: border-box; /* 避免 padding 影響寬度 */
  }
  
  .site-header p {
	margin: 6px 0 0;        /* 與上方標題保持距離 */
	font-size: 14px;        /* 調整字體大小 */
	letter-spacing: 1px;    /* 文字間距 */
	position: fixed;     /* 固定在畫面，不隨滾動或縮放改變 */
	top: 70px;              /* 距離視窗上方 20px */
 	left: 500px;            /* 距離視窗左側 30px */
	width: 100%;
	z-index: 1000;          /* 確保在圖片上層 */
  	box-sizing: border-box; /* 避免 padding 影響寬度 */
  }
  
  /* Banner 圖片 */
  .banner img {
	width: 100%;
	display: block;
  }
  
  /* 導覽列 */
  nav {
	background: #00a9e0;
  }
  
  nav ul {
	list-style: none;
	margin: 0;
	padding: 10px 0;
	display: flex;
	justify-content: center;
  }
  
  nav ul li {
	margin: 0 20px;
  }
  
  nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
  }
  
  nav ul li a:hover {
	text-decoration: underline;
  }
  
  /* 頁尾 */
  footer {
	background: #0090d7;
	color: white;
	text-align: center;
	padding: 15px;
  }
  